{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{!-- defining controlled access parameters --}}
{{#zone "accessControl"}}
    {{
    unit "mdm.unit.enrollments.access-control"
    allowedPlatform = "Android"
    currentPage = "download-agent"
    }}
{{/zone}}
{{!-- Inputting content into defined zones in enrollment layout --}}
{{unit "mdm.unit.ui.title" pageTitle = "Enrôlement Android | Télécharger et installer l'agent"}}
{{#zone "headerTitle"}}
    Enrôlement Android
{{/zone}}

{{#zone "content"}}
    {{
    unit "mdm.unit.wizard-stepper"
    steps = "Télécharger et installer l'agent"
    currentStep = "Télécharger et installer l'agent"
    currentStepIndex = 0
    }}
    <div class="row">
        <div class="col-md-4 wr-text">
            Si vous n'avez pas encore enrôlé votre appareil,
            Télécharger et installez l'agent pour continuer.
            <div class="wr-buttons">
                <a href="{{agentDownloadURL}}" class="btn-download-agent">Télécharger l'agent FTV</a>
            </div>
        </div>
    </div>
{{/zone}}