{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{!-- defining controlled access parameters --}}
{{#zone "accessControl"}}
    {{
        unit "mdm.unit.enrollments.access-control"
        allowedPlatform = "iOS"
        currentPage = "license-agent"
        lastPage = "login-agent"
        nextPage = "thank-you-agent"
    }}
{{/zone}}
{{!-- Inputting content into defined zones in enrollment layout --}}
{{unit "mdm.unit.ui.title" pageTitle="Enrôlement iOS | Accepter les conditions générales d'utilisation"}}

{{#zone "headerTitle"}}
    Enrôlement iOS
{{/zone}}

{{#zone "content"}}
    {{
        unit "mdm.unit.wizard-stepper"
        steps = "Installer le certificat et l'agent,
        S'enrôler sur l'EMM,
        Accepter les conditions générales d'utilisation"
        currentStep = "Accepter les conditions générales d'utilisation"
        currentStepIndex = 2
    }}
    {{
        unit "mdm.unit.enrollments.license-box"
        platform = "ios"
        languageCode = "en_US"
        licenseAcceptActionURL = iosLicenseAcceptURL
    }}
{{/zone}}

{{#zone "topJs"}}
    <script type="text/javascript">
        var contextPath = "{{@app.context}}";
    </script>
{{/zone}}

{{#zone "bottomJs"}}
    <!-- Device migration EMMv1 -> EMMv2 -->
    <script src="{{@app.context}}/public/mdm.unit.enrollments.login-box/js/js.cookie.js"></script>
    {{js "/js/enrollment-completion-checker-ios.js"}}
{{/zone}}
