{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{!-- Inputting content into defined zones in enrollment layout --}}
{{unit "mdm.unit.ui.title" pageTitle="Page Error"}}
{{#zone "headerTitle"}}
    404 - Resource introuvable
{{/zone}}
{{#zone "content"}}
    <div class="wr-head">
        <h3>Causes possibles :</h3>
    </div>

    Cette page apparaît car vous essayez d'accèder à une resource qui n'existe pas.<br/>
    <div class="row">
        <div class="container col-md-4 wr-buttons">
            <a href="{{@app.context}}/enrollment" class="btn-download-agent">Aller vers la page d'enrôlement</a>
        </div>
    </div>
{{/zone}}