{{!-- Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

<form class="form-login-box" action="{{@unit.params.loginActionURL}}" method="POST" onsubmit="return validate();">
    <div class="row">
        <div class="container col-md-8 wr-text">
            <!-- start of validation -->
            <div id="enrollment-error-msg" class="alert alert-danger hidden" role="alert">
                <span></span>
            </div>
            <!-- end of validation -->
            {{#excludes @unit.params.loginActionURL "windows"}}
                <!--<div class="wr-input-control">
                    <label class="input-label" for="domain">
                        Domain *
                    </label>
                    <input id="domain" name="domain" type="text" class="form-control" maxlength="30"
                           placeholder="Enter your tenant domain here" />
                </div>-->
            {{/excludes}}
            <div class="wr-input-control">
                <label class="input-label" for="username">
                    Email *
                </label>
                <input id="username" name="username" type="text" class="form-control" maxlength="100"
                       placeholder="Renseigner votre email ici" />
            </div>
            <br class="c-both" />
            <div class="wr-input-control">
                <label class="input-label" for="password">
                    Mot de passe *
                </label>
                <input id="password" name="password" type="password" class="form-control" maxlength="30"
                       placeholder="Renseigner votre mot de passe ici" />
            </div>
            <br class="c-both" />
            <div id="ownership-content" style="visibility:hidden; position:absolute">
                <div class="radio">
                    <label class="input-label">
                        <input type="radio" name="ownership" value="BYOD" checked>
                          BYOD (This is my own device)
                    </label>
                </div>
                <div class="radio">
                    <label class="input-label">
                        <input type="radio" name="ownership" value="COPE">
                          COPE (This is a corporate device)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-md-4 wr-buttons">
            <a href="#" class="btn-download-agent">S'enrôler</a>
        </div>
    </div>
</form>
{{#zone "bottomJs"}}
    <!-- Device migration EMMv1 -> EMMv2 -->
    <script src="{{@unit.publicUri}}/js/js.cookie.js"></script>
    <script src="{{@unit.publicUri}}/js/device-migration.js"></script>
    {{js "/js/login-box.js"}}
{{/zone}}
