{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

    <div class="row wr-wizard">
        {{#unequal steps.length 1}}
        {{!-- stepper numbering pane is visible, if steps.length > 1 --}}
            {{#each steps}}
                <div class="col-md-3 col-xs-3">
                    {{#equal @index @unit.params.currentStepIndex}}
                        <div class="itm-wiz itm-wiz-current">
                            <div class="wiz-no">{{math @index "+" 1}}</div>
                            <div class="wiz-lbl hidden-xs">
                                <span>{{this}}</span>
                            </div>
                        </div>
                    {{/equal}}
                    {{#unequal @index @unit.params.currentStepIndex}}
                        <div class="itm-wiz">
                            <div class="wiz-no">{{math @index "+" 1}}</div>
                            <div class="wiz-lbl hidden-xs">
                                <span>{{this}}</span>
                            </div>
                        </div>
                    {{/unequal}}
                </div>
            {{/each}}
            <br class="c-both" />
            <br class="c-both" />
        {{/unequal}}
        <div class="col-md-8 wr-text">
            <div class="wr-head">
                {{#unequal steps.length 1}}
                {{!-- following stepper title format is visible, if steps.length > 1 --}}
                    <h3>
                        Etape {{math @unit.params.currentStepIndex "+" 1}} :
                        <br class="c-both" /> <br class="c-both" />
                        {{@unit.params.currentStep}}
                    </h3>
                {{/unequal}}
                {{#equal steps.length 1}}
                {{!-- following stepper title format is visible, if steps.length == 1 --}}
                    <h3>
                        Dernière étape :
                        <br class="c-both" /> <br class="c-both" />
                        {{@unit.params.currentStep}}
                    </h3>
                {{/equal}}
            </div>
        </div>
    </div>
{{#zone "topCss"}}
    {{css "/css/wizard-stepper.css"}}
{{/zone}}