<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://smvlemm2.si.francetv.fr:9443/emm-web-agent/public/mdm.page.enrollments.ios.download-agent/asset/ios-agent.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://smvlemm2.si.francetv.fr:9443/emm-web-agent/public/mdm.page.enrollments.ios.download-agent/asset/displayimage.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://smvlemm2.si.francetv.fr:9443/emm-web-agent/public/mdm.page.enrollments.ios.download-agent/asset/fullsizeimage.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>{{bundleID}}</string>
                    <key>bundle-version</key>
                    <string>{{bundleVersion}}</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>{{appName}}</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>