{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

<div>
    <div class="row">
        <div class="container col-md-8 wr-text">
            Veuillez lire les conditions générales d'utilisation attentivement.
            Pour terminer votre enrôlement, vous devez les accepter.
            <br /><br />
            <div class="wr-agreement">
                <h4>France Télévision EMM : conditions générales d'utilisation</h4>
                <p id="license-text">{{license}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-md-4 wr-buttons">
            <a href="{{@unit.params.licenseAcceptActionURL}}" class="btn-download-agent">J'accepte</a>
        </div>
    </div>
</div>
{{#zone "bottomJs"}}
    {{js "/js/license-box.js"}}
{{/zone}}