{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{!-- defining controlled access parameters --}}
{{#zone "accessControl"}}
    {{
        unit "mdm.unit.enrollments.access-control"
        allowedPlatform = "iOS"
        currentPage = "download-agent"
        nextPage = "login-agent"
    }}
{{/zone}}
{{!-- Inputting content into defined zones in enrollment layout --}}
{{unit "mdm.unit.ui.title" pageTitle="Enrôlement iOS | Installer le certificat et l'agent"}}
{{#zone "headerTitle"}}
    Enrôlement iOS
{{/zone}}
{{#zone "content"}}
    {{
        unit "mdm.unit.wizard-stepper"
        steps = "Installer le certificat et l'agent,
        S'enrôler sur l'EMM,
        Accepter les conditions générales d'utilisation"
        currentStep = "Installer le certificat et l'agent"
        currentStepIndex = 0
    }}
    <div class="row">
        <div class="col-md-4 wr-text">
            Si vous n'avez pas encore enrôlé votre appareil,
            Installez le certificat et l'agent pour continuer.
            <div class="wr-buttons">
                <a href="{{emmCertificateDownloadURL}}" class="btn-download-agent">Installer le certificat EMM</a>
            </div>
            <br class="c-both" />
            NB : Le certificat EMM doit être installé en premier sur l'appareil pour permettre l'installation de l'agent.
            <div class="wr-buttons">
                <a href="{{agentDownloadURL}}" class="btn-download-agent">Installer l'agent FTV</a>
            </div>
        </div>
    </div>
    {{#if enableEval}}
    <!--<div class="row">
        <div class="col-md-4 wr-text">
            <div class="wr-buttons text-center">
                <br class="c-both" />
                <br/>
                For evaluation purposes, you can skip the agent installation and proceed with enrollment.</br>
                This results unavailability of Operations such as <b>Send Notification, Get Location, Ring and
                Enterprise Wipe</b>.
                <br/><br/>
                <a href="login-agent" class="btn btn-secondary">Skip Agent Installer</a>
            </div>
        </div>
    </div>-->
    {{/if}}
{{/zone}}