{{!-- Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{!-- defining controlled access parameters --}}
{{#zone "accessControl"}}
    {{
    unit "mdm.unit.enrollments.access-control"
    allowedPlatform = "iOS"
    currentPage = "thank-you-agent"
    lastPage = "license-agent"
    }}
{{/zone}}
{{!-- Inputting content into defined zones in enrollment layout --}}
{{unit "mdm.unit.ui.title" pageTitle="Enrôlement iOS | Succès"}}
{{#zone "headerTitle"}}
    Enrôlement iOS 
{{/zone}}
{{#zone "content"}}
    <div class="wr-head">
        <h3>Appareil ajouté</h3>
    </div>
    Vous avez enrôlé votre appareil iOS avec succès.
    <br class="c-both" />
    <br class="c-both" />
    Propiétaire de l'appareil : {{deviceOwner}}
    <br class="c-both" />
    <br class="c-both" />
    Les modifications liées à la politique de sécurité de l'EMM France Télévisions seront appliquées sur votre appareil dans les prochaines minutes.
    <br class="c-both" />
    <br class="c-both" />
    Merci.
    <br class="c-both" />
    <!--<a href="{{serverURL}}">{{companyName}}</a>-->
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/enrollment-success-note-ios.js"}}
{{/zone}}